WinApp/CommonSolution/Inventory/Web References/ParafaitGateway/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://semnox.com/ParafaitWS/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://semnox.com/ParafaitWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://semnox.com/ParafaitWS/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="UploadSiteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSiteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadSiteDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="orgId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSiteResult" type="tns:ArrayOfSiteDTO" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSiteDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SiteDTO" nillable="true" type="tns:SiteDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SiteDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SiteId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrgId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUploadTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUploadServerTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LastUploadMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InitialLoadDone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxCards" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SynchStatus" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMasterSite" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsChanged" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateInitialUploadStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UploadDone" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInitialUploadStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateInitialUploadStatusResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateServerUploadTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ServerUploadTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateServerUploadTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerCardActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerCardActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerCardActivityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HQTrxRefreshRequired">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFlag" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteTrxStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HQTrxRefreshRequiredResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HQTrxRefreshRequiredResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteTrxStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoamingSites">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoamingSitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoamingSitesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RoamingAllowed" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="ServerUploadTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="ServerUploadTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastUpdateTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inSiteData">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastUpdateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastUpdateTimeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerCardStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CardGuid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardValidFlag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerCardStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerCardStatusResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardValidFlag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerCardResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadSiteDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadSiteData" />
  </wsdl:message>
  <wsdl:message name="UploadSiteDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadSiteDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSiteSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSite" />
  </wsdl:message>
  <wsdl:message name="GetAllSiteSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSiteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInitialUploadStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInitialUploadStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateInitialUploadStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInitialUploadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateServerUploadTimeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateServerUploadTime" />
  </wsdl:message>
  <wsdl:message name="UpdateServerUploadTimeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateServerUploadTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerCardActivitySoapIn">
    <wsdl:part name="parameters" element="tns:GetServerCardActivity" />
  </wsdl:message>
  <wsdl:message name="GetServerCardActivitySoapOut">
    <wsdl:part name="parameters" element="tns:GetServerCardActivityResponse" />
  </wsdl:message>
  <wsdl:message name="HQTrxRefreshRequiredSoapIn">
    <wsdl:part name="parameters" element="tns:HQTrxRefreshRequired" />
  </wsdl:message>
  <wsdl:message name="HQTrxRefreshRequiredSoapOut">
    <wsdl:part name="parameters" element="tns:HQTrxRefreshRequiredResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoamingSitesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoamingSites" />
  </wsdl:message>
  <wsdl:message name="GetRoamingSitesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoamingSitesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerData" />
  </wsdl:message>
  <wsdl:message name="GetServerDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastUpdateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastUpdateTime" />
  </wsdl:message>
  <wsdl:message name="GetLastUpdateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastUpdateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerCardStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerCardStatus" />
  </wsdl:message>
  <wsdl:message name="GetServerCardStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerCardStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerCardSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerCard" />
  </wsdl:message>
  <wsdl:message name="GetServerCardSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerCardResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="UploadSiteData">
      <wsdl:input message="tns:UploadSiteDataSoapIn" />
      <wsdl:output message="tns:UploadSiteDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSite">
      <wsdl:input message="tns:GetAllSiteSoapIn" />
      <wsdl:output message="tns:GetAllSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInitialUploadStatus">
      <wsdl:input message="tns:UpdateInitialUploadStatusSoapIn" />
      <wsdl:output message="tns:UpdateInitialUploadStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServerUploadTime">
      <wsdl:input message="tns:UpdateServerUploadTimeSoapIn" />
      <wsdl:output message="tns:UpdateServerUploadTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerCardActivity">
      <wsdl:input message="tns:GetServerCardActivitySoapIn" />
      <wsdl:output message="tns:GetServerCardActivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HQTrxRefreshRequired">
      <wsdl:input message="tns:HQTrxRefreshRequiredSoapIn" />
      <wsdl:output message="tns:HQTrxRefreshRequiredSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoamingSites">
      <wsdl:input message="tns:GetRoamingSitesSoapIn" />
      <wsdl:output message="tns:GetRoamingSitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerData">
      <wsdl:input message="tns:GetServerDataSoapIn" />
      <wsdl:output message="tns:GetServerDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastUpdateTime">
      <wsdl:input message="tns:GetLastUpdateTimeSoapIn" />
      <wsdl:output message="tns:GetLastUpdateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerCardStatus">
      <wsdl:input message="tns:GetServerCardStatusSoapIn" />
      <wsdl:output message="tns:GetServerCardStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerCard">
      <wsdl:input message="tns:GetServerCardSoapIn" />
      <wsdl:output message="tns:GetServerCardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadSiteData">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/UploadSiteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSite">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/GetAllSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInitialUploadStatus">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/UpdateInitialUploadStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServerUploadTime">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/UpdateServerUploadTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerCardActivity">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/GetServerCardActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HQTrxRefreshRequired">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/HQTrxRefreshRequired" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoamingSites">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/GetRoamingSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerData">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/GetServerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastUpdateTime">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/GetLastUpdateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerCardStatus">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/GetServerCardStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerCard">
      <soap:operation soapAction="http://semnox.com/ParafaitWS/GetServerCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadSiteData">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/UploadSiteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSite">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/GetAllSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInitialUploadStatus">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/UpdateInitialUploadStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServerUploadTime">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/UpdateServerUploadTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerCardActivity">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/GetServerCardActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HQTrxRefreshRequired">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/HQTrxRefreshRequired" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoamingSites">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/GetRoamingSites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerData">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/GetServerData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastUpdateTime">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/GetLastUpdateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerCardStatus">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/GetServerCardStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerCard">
      <soap12:operation soapAction="http://semnox.com/ParafaitWS/GetServerCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://localhost:444/ParafaitUploadService/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://localhost:444/ParafaitUploadService/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>