WinApp/Kiosk/Parafait FnB Kiosk/Parafait FnB Kiosk/Service References/UserServices/UserServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://semnox.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://semnox.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://semnox.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordPassed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macAddressPassed" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isGameMachine" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLoginResult" type="tns:ArrayOfKeyValueStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKeyValueStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValueStruct" nillable="true" type="tns:KeyValueStruct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValueStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PerformLogout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformLogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="PerformAlohaClockIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="posIdentifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformAlohaClockInResponse">
        <s:complexType />
      </s:element>
      <s:element name="PerformAlohaClockOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="posIdentifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformAlohaClockOutResponse">
        <s:complexType />
      </s:element>
      <s:element name="HandleOpenShift">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macAddressPassed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionPassed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shiftAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shiftCardCount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shiftGameCard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HandleOpenShiftResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HandleOpenShiftResult" type="tns:ArrayOfKeyValueStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShiftStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShiftStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShiftStatusResult" type="tns:ArrayOfKeyValueStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lastSyncTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfUsersDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsersDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsersDTO" nillable="true" type="tns:UsersDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsersDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastLoginTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LogoutTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OverrideFingerPrint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PasswordHash" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="PasswordSalt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MasterEntityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PosTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartmentId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EmpStartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EmpEndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpEndReason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ManagerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyAdministrator" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FingerNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PasswordChangeDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InvalidAccessAttempts" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LockedOutTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PasswordChangeOnNextLogin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LastUpdatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdatedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SynchStatus" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsChanged" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetShiftDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macAddressPassed" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShiftDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShiftDetailsResult" type="tns:ArrayOfKeyValueStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAuthParams" type="tns:UserAuthParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserAuthParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PasswordPassed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MacAddressPassed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsGameMachine" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateLoginUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLoginUserResult" type="tns:ArrayOfCoreKeyValueStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCoreKeyValueStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CoreKeyValueStruct" nillable="true" type="tns:CoreKeyValueStruct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CoreKeyValueStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAuthParams" type="tns:UserAuthParams" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAuthParams" type="tns:UserAuthParams" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResetPasswordResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManagementFormAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="functionGroup" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManagementFormAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManagementFormAccessResult" type="tns:ArrayOfManagementFormAccessDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfManagementFormAccessDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ManagementFormAccessDTO" nillable="true" type="tns:ManagementFormAccessDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ManagementFormAccessDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ManagementFormAccessId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MainMenu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessAllowed" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FunctionId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FunctionGroup" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Guid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SynchStatus" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MasterEntityId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FunctionGUID" nillable="true" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="FontImageIcon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormTargetPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChildForms" type="tns:ArrayOfManagementFormAccessDTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetManagementForms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="functionGroup" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManagementFormsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManagementFormsResult" type="tns:ArrayOfManagementFormDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfManagementFormDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ManagementFormDTO" nillable="true" type="tns:ManagementFormDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ManagementFormDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ManagementFormId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FunctionGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormLookupTable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FontImageIcon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormTargetPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplayOrder" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableAccess" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Guid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SynchStatus" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MasterEntityId" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="PerformLogoutSoapIn">
    <wsdl:part name="parameters" element="tns:PerformLogout" />
  </wsdl:message>
  <wsdl:message name="PerformLogoutSoapOut">
    <wsdl:part name="parameters" element="tns:PerformLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="PerformAlohaClockInSoapIn">
    <wsdl:part name="parameters" element="tns:PerformAlohaClockIn" />
  </wsdl:message>
  <wsdl:message name="PerformAlohaClockInSoapOut">
    <wsdl:part name="parameters" element="tns:PerformAlohaClockInResponse" />
  </wsdl:message>
  <wsdl:message name="PerformAlohaClockOutSoapIn">
    <wsdl:part name="parameters" element="tns:PerformAlohaClockOut" />
  </wsdl:message>
  <wsdl:message name="PerformAlohaClockOutSoapOut">
    <wsdl:part name="parameters" element="tns:PerformAlohaClockOutResponse" />
  </wsdl:message>
  <wsdl:message name="HandleOpenShiftSoapIn">
    <wsdl:part name="parameters" element="tns:HandleOpenShift" />
  </wsdl:message>
  <wsdl:message name="HandleOpenShiftSoapOut">
    <wsdl:part name="parameters" element="tns:HandleOpenShiftResponse" />
  </wsdl:message>
  <wsdl:message name="GetShiftStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetShiftStatus" />
  </wsdl:message>
  <wsdl:message name="GetShiftStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetShiftStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetShiftDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetShiftDetails" />
  </wsdl:message>
  <wsdl:message name="GetShiftDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetShiftDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLoginUser" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetManagementFormAccessSoapIn">
    <wsdl:part name="parameters" element="tns:GetManagementFormAccess" />
  </wsdl:message>
  <wsdl:message name="GetManagementFormAccessSoapOut">
    <wsdl:part name="parameters" element="tns:GetManagementFormAccessResponse" />
  </wsdl:message>
  <wsdl:message name="GetManagementFormsSoapIn">
    <wsdl:part name="parameters" element="tns:GetManagementForms" />
  </wsdl:message>
  <wsdl:message name="GetManagementFormsSoapOut">
    <wsdl:part name="parameters" element="tns:GetManagementFormsResponse" />
  </wsdl:message>
  <wsdl:portType name="UserServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PerformLogout">
      <wsdl:input message="tns:PerformLogoutSoapIn" />
      <wsdl:output message="tns:PerformLogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PerformAlohaClockIn">
      <wsdl:input message="tns:PerformAlohaClockInSoapIn" />
      <wsdl:output message="tns:PerformAlohaClockInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PerformAlohaClockOut">
      <wsdl:input message="tns:PerformAlohaClockOutSoapIn" />
      <wsdl:output message="tns:PerformAlohaClockOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HandleOpenShift">
      <wsdl:input message="tns:HandleOpenShiftSoapIn" />
      <wsdl:output message="tns:HandleOpenShiftSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShiftStatus">
      <wsdl:input message="tns:GetShiftStatusSoapIn" />
      <wsdl:output message="tns:GetShiftStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShiftDetails">
      <wsdl:input message="tns:GetShiftDetailsSoapIn" />
      <wsdl:output message="tns:GetShiftDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLoginUser">
      <wsdl:input message="tns:ValidateLoginUserSoapIn" />
      <wsdl:output message="tns:ValidateLoginUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManagementFormAccess">
      <wsdl:input message="tns:GetManagementFormAccessSoapIn" />
      <wsdl:output message="tns:GetManagementFormAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManagementForms">
      <wsdl:input message="tns:GetManagementFormsSoapIn" />
      <wsdl:output message="tns:GetManagementFormsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServicesSoap" type="tns:UserServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://semnox.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://semnox.com/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformLogout">
      <soap:operation soapAction="http://semnox.com/PerformLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformAlohaClockIn">
      <soap:operation soapAction="http://semnox.com/PerformAlohaClockIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformAlohaClockOut">
      <soap:operation soapAction="http://semnox.com/PerformAlohaClockOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandleOpenShift">
      <soap:operation soapAction="http://semnox.com/HandleOpenShift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftStatus">
      <soap:operation soapAction="http://semnox.com/GetShiftStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://semnox.com/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftDetails">
      <soap:operation soapAction="http://semnox.com/GetShiftDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLoginUser">
      <soap:operation soapAction="http://semnox.com/ValidateLoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://semnox.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://semnox.com/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagementFormAccess">
      <soap:operation soapAction="http://semnox.com/GetManagementFormAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagementForms">
      <soap:operation soapAction="http://semnox.com/GetManagementForms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServicesSoap12" type="tns:UserServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://semnox.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://semnox.com/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformLogout">
      <soap12:operation soapAction="http://semnox.com/PerformLogout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformAlohaClockIn">
      <soap12:operation soapAction="http://semnox.com/PerformAlohaClockIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformAlohaClockOut">
      <soap12:operation soapAction="http://semnox.com/PerformAlohaClockOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandleOpenShift">
      <soap12:operation soapAction="http://semnox.com/HandleOpenShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftStatus">
      <soap12:operation soapAction="http://semnox.com/GetShiftStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://semnox.com/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftDetails">
      <soap12:operation soapAction="http://semnox.com/GetShiftDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLoginUser">
      <soap12:operation soapAction="http://semnox.com/ValidateLoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://semnox.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://semnox.com/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagementFormAccess">
      <soap12:operation soapAction="http://semnox.com/GetManagementFormAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagementForms">
      <soap12:operation soapAction="http://semnox.com/GetManagementForms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServices">
    <wsdl:port name="UserServicesSoap" binding="tns:UserServicesSoap">
      <soap:address location="https://localhost:444/UserServices.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServicesSoap12" binding="tns:UserServicesSoap12">
      <soap12:address location="https://localhost:444/UserServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>